{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('./public/register.css') }}">
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="registration-container">
        <div>
            <h1>Register</h1>
        </div>
        

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            <div class="form-group">
                {{ form_row(registrationForm.email, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.plainPassword, {
                    'label': 'Password',
                    'attr': {'class': 'form-control'}
                }) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.agreeTerms, { 'attr': {'class': 'form-check-input'} }) }}
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
